.roomHeading {
  color: whitesmoke;
  z-index: 1;
}

.info__item-value,
.room__description,
.roomPulpit {
  color: black !important;
}

.roomHeadingContainer {
  max-height: 100px;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roomHeading {
  display: flex;
}

.roomBody {
  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 40px;

  /* background-color: rgb(48, 46, 51); */
  background-color: rgb(250, 250, 250);
}

.roomUpper {
  display: flex;
  justify-content: space-between;

  width: 100%;

  gap: 15px;
}

.main-info {
  background-color: white;
  border-radius: 5px;

  list-style: none;

  padding: 25px 15px;
  margin-bottom: 0;

  min-width: 35%;

  display: flex;
  flex-direction: column;
  gap: 13px;

  box-shadow: 0 2px 5px #0000000d, 0 0 20px #f8f8f84d;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__item-name {
  margin-bottom: 7px;
}

.info__item-value {
  font-size: 18px;
  line-height: 18px;
}

.roomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.roomDescription {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  max-width: 65%;
  width: 100%;

  box-shadow: 0 2px 5px #0000000d, 0 0 20px #f8f8f84d;
}

.roomLower {
  display: flex;
  gap: 15px;

  justify-content: space-between;

  max-width: 100%;
  width: 100%;
}

.secondaryInfo__wraper {
  display: flex;

  max-width: 35%;
  width: 100%;

  box-shadow: 0 2px 5px #0000000d, 0 0 20px #f8f8f84d;
}

.secondaryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  border-radius: 5px;

  padding: 25px 15px;

  width: 100%;
  height: 100%;

  gap: 20px;
}

@media (max-width: 992px) {
  .roomUpper {
    flex-direction: column;
  }
}

@media (max-width: 610px) {
  .roomLower {
    flex-direction: column;
  }
  .secondaryInfo__wraper {
    max-width: 100%;
  }

  .roomDescription {
    max-width: 100%;
  }
}

.roomToFaculty {
  background-color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  width: fit-content;
  padding: 7px 10px;

  align-self: flex-start;

  margin-bottom: 10px;

  color: black;

  box-shadow: 0 2px 5px #0000000d, 0 0 20px #f8f8f84d;
}

.roomToFaculty:hover {
  background-color: #17bed2;
  color: white;
}
